
body{
	color: white;
	font-family: Roboto, Arial, sans-serif;
}

.grid-container {
  grid-column: 2;
  grid-template-columns:auto auto;
   display: grid;
   grid-gap: 10px;
  padding: 10px;
  margin: 5px;
  text-align:left;
}

.grid-flex{
  grid-gap: 5px;
  align-items:  center;
  flex-direction: center;
  display: flex;
  justify-content: center;
  height: 250px;
  background-image: url(background.jpg);
  background-size: auto;
  position: relative;
  
}

fieldset{
	background-color: rgb(214, 234, 248);
}

legend{
	background-color: #1c87c9;
	padding: 10px;
}

label{
	color: black;
}


input {
  width: 100%;
  padding: 5px;
  border-radius: 8px;
  outline: none;
}

input:focus{
  border: 2px solid #43D1AF;
}
textarea {
  width: 100%;
  padding: 5px;
  border-radius: 8px;
  outline: none;

}

textarea:focus {
  border: 2px solid #43D1AF;
}


input[type="submit"],input[type="reset"]{
	background-color: #1abc9c;
	color: white;
	font-size: 16px;
	width: 150px;
	border-radius: 5px;
	border: none;
}